/*
Copyright Artur Janas
SASS: sass --watch sass/about.scss:public/styles/about.css

sass --watch sass/index.scss:public/styles/index.css sass/core.scss:public/styles/core.css sass/about.scss:public/styles/about.css

*/

@import "mixins.scss";
@import "core.scss";


section#about {
  align-items: center;
  display: grid;
  grid-template-columns: 200px auto;
  > div {
    flex: 7;
  }
  > div:first-of-type {
    background: url('../ankajanas.png') no-repeat center left;
    background-size: contain;
    height: 34vh;
    margin-right: 8rem;
    flex: 2;
  }

}

section#noteworthy, section#techniques {
  > div:first-of-type {
    margin-right: 3rem;
  }
}

#container section {
  align-items: flex-start;
  display: flex;
  padding: 1rem 6rem;
  &:first-of-type {
    margin-top: 5rem;
  }
  h1 {
    margin-top: 2rem;
  }
  &.odd-left {
    // padding: 0 6rem 0 6rem;
    padding: 6rem;
    height: 100%;
    position: relative;
    &:after {
      content: '';
      position: absolute;
      width: calc(103vw);
      height: calc(100% - 6rem);
      border-top-right-radius: 6rem;
      border-bottom-right-radius: 6rem;
      background-color: $background-box;
      box-shadow: $background-box-shadow;
      top: 4rem;
      z-index: -1;
      left: -6rem;
      }
    }
    .skills-scale-wrapper {
      &:first-of-type {
        margin-right: 3rem;
      }
      > div {
       align-items: center;
       display: flex;
       font-size: 24px;
       justify-content: space-between;
       padding: 1rem 0;
       width: 80%;
       i {
         background-color: white;
         border: 1px solid $label-teal;
         border-radius: 50%;
         box-shadow: $background-box-shadow;
         display: inline-block;
         height: 1.2rem;
         margin-left: 1.2rem;
         width: 1.2rem;
         &.filled {
           background-color: $label-teal;
         }
       }
     }
    }
  }

  @media (max-width: 1080px) {
    #container section .skills-scale-wrapper > div {
      width: 100%;
    }
  }
  @media (max-width: 960px) {
    #container section {
      flex-direction: column;
      padding: 2rem;
      &:first-of-type {
        display: grid;
        grid-template-columns: 250px auto;
        margin-top: 3rem;
      }
      &#noteworthy {
        padding: 0 2rem;
      }
      ul {
        margin-bottom: 0;
      }
      .skills-scale-wrapper > div {
        width: 80%;
      }
    }
    #container section.odd-left {
      padding: 0 2rem;
      &:after {
        display: none;
      }
    }
    .w-100.d-flex {
      flex-direction: column;
    }
    .w-50 {
      width: 100%;
    }
    .mt-5 {
      margin-top: 0rem;
    }
    .mb-2 {
      margin-bottom: 0;
    }
  }

  @media (max-width: 660px) {
    #container {
      padding-top: 0;
      > section:first-of-type {
        margin-top: 0;
      }
    }
    #container section {
      flex-direction: column;
      padding: 2rem;
      &:first-of-type {
        display: flex;
        > div:first-of-type {
          background-position: center;
          margin: 1rem 0;
          width: 100%;
        }
      }
    }
    #container section .skills-scale-wrapper > div {
      align-items: flex-start;
      flex-direction: column;
      justify-content: flex-start;
      width: 100%;
      span:nth-of-type(2) {
        margin-top: 1rem;
        i:first-of-type {
          margin-left: 0;
        }
      }
    }
  }
