/*
Copyright Artur Janas
SASS: sass --watch sass/about.scss:public/styles/about.css

sass --watch sass/index.scss:public/styles/index.css sass/core.scss:public/styles/core.css sass/about.scss:public/styles/about.css

*/

@import "mixins.scss";
@import "core.scss";


section#about {
  align-items: center;
  display: flex;
  > div {
    flex: 2;
  }
  > div:first-of-type {
    flex: 1;
  }
}

section#noteworthy, section#techniques {
  > div:first-of-type {
    margin-right: 3rem;
  }
}

#container section {
  align-items: flex-start;
  display: flex;
  // margin: 3rem 0;
  padding: 1rem 6rem;
  &:first-of-type {
    margin-top: 5rem;
  }
  &.odd-left {
    padding: 0 6rem 0 6rem;
    position: relative;
    &:after {
      content: '';
      position: absolute;
      width: calc(103vw);
      height: 100%;
      top: 1.5rem;
      border-top-right-radius: 6rem;
      border-bottom-right-radius: 6rem;
      background-color: $background-box;
      box-shadow: $background-box-shadow;
      z-index: -1;
      left: -6rem;
      }
    }
    // .hero {
    //   overflow: hidden;
    //   // margin-top: 3rem;
    //   .bg-img {
    //     display: block;
    //     height: 100%;
    //     width: 100%;
    //     &.hierarchy {
    //       background: url('../bank/hierarchy.png') no-repeat center center;
    //       background-size: contain;
    //     }
    //   }
    // }

    .skills-scale-wrapper {
      &:first-of-type {
        margin-right: 3rem;
      }
      > div {
       align-items: center;
       display: flex;
       font-size: 24px;
       justify-content: space-between;
       padding: 1rem 0;
       width: 80%;
       i {
         background-color: white;
         border: 1px solid $label-teal;
         border-radius: 50%;
         box-shadow: $background-box-shadow;
         display: inline-block;
         height: 1.2rem;
         margin-left: 1.2rem;
         width: 1.2rem;
         &.filled {
           background-color: $label-teal;
         }
       }
     }
    }
  }
