/*
Copyright Artur Janas
SASS: sass --watch sass/core.scss:public/styles/core.css
*/


@import "mixins.scss";

/* --------------------------- CORE --------------------------- */

/* 1.1. Variables */

// links
$link: #4568E7;

// text
$text: #3C3C3C;
$text-secondary: #555252;
$text-invert: white;

// labels
$label-teal: #2BE7CB;
$label-yellow: #FFCD14;
$label-tangerine: #FE7A7A;

// gradinets
$btn-start: #2040E1;
$btn-end: #3358ED;

// backgrounds
$background-box: #F9FCFF;
$background-box-shadow: 0px 4px 11px rgba(0, 0, 0, 0.07);
$background-box-shadow-wide: 0px 31px 31px rgba(0, 0, 0, 0.02);

/* 1.2.  Core properties */
html, body {
  box-sizing: border-box;
  color: $text;
  font-family: 'Muli', sans-serif;
  margin: 0;
  height: 100vh;
  overflow-y: scroll;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}

#container {
  opacity: .1;
  padding-top: 6rem;
  transform: scale(1.05) translateY(3rem);
  transition: all .45s ease-out;
  &.active {
    opacity: 1;
    transform: scale(1) translateY(0);
  };
}
nav {
  align-items: center;
  background-color: white;
  box-shadow: $background-box-shadow-wide;
  display: flex;
  height: 2rem;
  justify-content: space-between;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 4rem 6rem;
  transition: all .45s ease-out;
  z-index: 100;
  .btn {
    @include nav-button;
  }
  .nav-item {
    font-size: 18px;
    padding: 1rem 2rem;
  }
}
#contact {
  align-items: center;
  background-color: white;
  border-radius: 6rem;
  bottom: 2rem;
  box-shadow: $background-box-shadow;
  color: $link;
  cursor: pointer;
  cursor: hand;
  display: flex;
  font-size: larger;
  height: 2.2rem;
  justify-content: center;
  position: fixed;
  right: 2rem;
  width: 2.2rem;
  z-index: 600;
  #contact-popup {
    background-color: inherit;
    border-radius: 2rem;
    bottom: 3.4rem;
    box-shadow: $background-box-shadow;
    display: none;
    padding: 1rem 2rem;
    position: absolute;
    right: -1.4rem;
    white-space: nowrap;
    width: auto;
    opacity: 0;
    transform: scale(.75);
    transition: all .45s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    &.active {
      opacity: 1;
      transform: scale(1);
    }
    &:first-of-type {
      color: $text;
      cursor: auto;
    }
    p {
      margin: 0;
    }
    &:after {
      border-left: .8rem solid transparent;
      border-right: .8rem solid transparent;
      border-top: .8rem solid white;
      bottom: -.7rem;
      content: '';
      height: 0;
      position: absolute;
      right: 1.8rem;
      width: 0;
    }
  }
}
* {
  box-sizing: inherit;
}
h1 {
  font-size: 26px;
  font-weight: bold;
  margin: 0 0 1rem 0;
}
h2 {
  font-size: 26px;
  font-weight: normal;
  margin: 3rem 0 2rem 0;
}
h3 {
  font-size: 20px;
  font-weight: normal;
  margin: 2rem 0;
  &:first-of-type {
    margin-top: 0;
  }
}
.h1-underline {
  display: block;
  position: relative;
  margin-bottom: 1.8rem;
  &:after {
    content: '';
    background-color: $text;
    height: 2px;
    left: 0;
    position: absolute;
    top: 0rem;
    width: 12rem;
  }
}
p {
  font-size: 18px;
  margin: 1rem 0 0 0;
  line-height: 2rem;
  &.large {
    font-size: 22px;
  }
  &.xs {
    font-size: 13px;
    line-height: normal;
  }
}
a {
  color: $link;
  cursor: pointer;
  cursor: hand;
  font-size: 18px;
  text-decoration: none;
}
ul {
  font-size: 18px;
  list-style: none;
  margin: 0;
  padding: 0;
  &.w-icons {
    li {
      padding-left: 3rem;
      position: relative;
    }
    // see index css for paths
  }
  &.inline {
    display: inline-flex;
    margin-bottom: 2rem;
    li {
      padding-right: 1rem;
    }
  }
  li {
    color: $text;
    padding: .5rem 0;
    color: $text-secondary;
    &.bold {
      color: $text;
      font-weight: bold;
    }
  }
}

.labels {
  display: grid;
  align-items: center;
  margin-bottom: 1rem;
  grid-template-columns: 200px auto;
  margin-bottom: 1rem;
  .label-wrapper {
    margin-right: 3rem;
    .label {
      font-size: 18px;
      padding: .3rem 1.3rem;
      display: inline-block;
      color: white;
      border-radius: 2rem;
      text-align: center;
      &.teal {
        background-color: $label-teal;
      }
      &.yellow {
        background-color: $label-yellow;
      }
      &.tangerine {
        background-color: $label-tangerine;
      }
    }
  }
  .description {
    font-size: 18px;
  }
}

.cta-container {
  display: flex;
  justify-content: flex-start;
  margin-top: 1rem;
  margin-left: -.4rem;
}

.btn {
  @include button;
}


div.footer {
  display: flex;
  justify-content: center;
  padding: 3rem 0 2rem 0;
  width: 100%;
}


// 1.2 helpers

.w-50 {
  width: 50%;
}

.w-100 {
  width: 100%;
}

.d-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-center {
  justify-content: center;
}

.align-items-center {
  align-items: center;
}
.mb-0 {
   margin-bottom: 0rem;
}
.mb-2 {
  margin-bottom: 2rem;
}
.mt-0 {
   margin-top: 0rem;
}
.mt-1{
   margin-top: 1rem;
}
.mt-2 {
   margin-top: 2rem;
}
.mt-3 {
   margin-top: 3rem;
}
.mt-5 {
   margin-top: 5rem;
}
.blur {
  filter: blur(14px);
}

@media (max-width: 960px) {
  nav {
    padding: 2rem 0;
    height: auto;
  }
  h1 {
    margin-top: 2rem;
  }
  ul.inline {
    // display: block;
  }
  div.footer {
    padding-top: 1rem;
  }

  .labels {
    margin-bottom: 1rem;
    grid-template-columns: auto;
    .label-wrapper {
      margin-bottom: 1rem;
    }
    .description {
      font-size: 18px;
      line-height: 2rem;
    }
  }
}

@media (max-width: 660px) {
  nav {
    flex-direction: column;
    height: auto;
    position: relative;
    span {
      &:nth-of-type(1) {
        margin: 3rem 0 1rem 0;
      }
      &:nth-of-type(2) {
        position: absolute;
        top: 1rem;
        width: 100%;
        text-align: center;
      }
    }
  }
  .nav-item.btn {
    padding: .4rem .8rem;
  }
  ul.inline {
    flex-direction: column;
  }
  .project-details {
    padding-bottom: 4rem;
  }
  #contact {
    bottom: 2rem;
  }
}
