/*
Copyright Artur Janas
SASS: sass --watch sass/core.scss:public/styles/core.css
*/


@import "mixins.scss";

/* --------------------------- CORE --------------------------- */

/* 1.1. Variables */

// links
$link: #4568E7;

// text
$text: #3C3C3C;
$text-secondary: #555252;
$text-invert: white;

// labels
$label-teal: #FFCD14;
$label-yellow: #2BE7CB;
$label-tangerine: #FE7A7A;

// gradinets
$btn-start: #2040E1;
$btn-end: #3358ED;

// backgrounds
$background-box: #F9FCFF;
$background-box-shadow: 0px 4px 11px rgba(0, 0, 0, 0.07);
$background-box-shadow-wide: 0px 31px 31px rgba(0, 0, 0, 0.02);

/* 1.2.  Core properties */
html, body {
  box-sizing: border-box;
  color: $text;
  font-family: 'Muli', sans-serif;
  margin: 0;
  height: 100%;
}

#container {
  height: 100vh;
  overflow-y: scroll;
  opacity: .1;
  padding-top: 6rem;
  transform: scale(1.05) translateY(3rem);
  transition: all .45s ease-out;
  &.active {
    opacity: 1;
    transform: scale(1) translateY(0);
  };
}
nav {
  align-items: center;
  background-color: white;
  box-shadow: $background-box-shadow-wide;
  display: flex;
  height: 2rem;
  justify-content: space-between;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 4rem 6rem;
  transition: all .45s ease-out;
  z-index: 100;
  .btn {
    @include nav-button;
  }
  .nav-item {
    font-size: 18px;
    padding: 1rem 2rem;
  }
}
* {
  box-sizing: inherit;
}
h1 {
  font-size: 26px;
  font-weight: bold;
  margin: 3rem 0 1rem 0;
}
h2 {
  font-size: 26px;
  font-weight: normal;
  margin: 3rem 0 3rem 0;
}
.h1-underline {
  display: block;
  position: relative;
  margin-bottom: 3rem;
  &.xs {
    margin-bottom: 1.8rem;
  }
  &:after {
    content: '';
    background-color: $text;
    height: 2px;
    left: 0;
    position: absolute;
    top: 0rem;
    width: 12rem;
  }
}
p {
  font-size: 16px;
  margin: .2rem 0 0 0;
  line-height: 2.5rem;
  &.xs {
    font-size: 13px;
    line-height: normal;
  }
}
a {
  color: $link;
  cursor: pointer;
  cursor: hand;
  font-size: 16px;
  text-decoration: none;
}
ul {
  font-size: 16px;
  list-style: none;
  margin: .4rem 0 2rem 0;
  padding: 0;
  &.w-icons {
    li {
      padding-left: 3rem;
      position: relative;
    }
    // see index css for paths
  }
  &.inline {
    display: inline-flex;
    li {
      padding-right: 1rem;
    }
  }
  li {
    color: $text;
    padding: .5rem 0;
    color: $text-secondary;
    &.bold {
      color: $text;
      font-weight: bold;
    }
  }
}
.label {
  font-size: 13px;
  padding: .3rem 1.3rem;
  display: inline-block;
  color: white;
  border-radius: 2rem;
  text-align: center;
  &.teal {
    background-color: $label-teal;
  }
  &.yellow {
    background-color: $label-yellow;
  }
  &.tangerine {
    background-color: $label-tangerine;
  }
}

.cta-container {
  display: flex;
  justify-content: flex-start;
  margin-top: 1rem;
  margin-left: -.4rem;
  .btn {
    @include button;
  }
}


// 1.2 helpers

.w-50 {
  width: 50%;
}

.w-100 {
  width: 100%;
}

.d-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.justify-content-between {
  justify-content: space-between;
}

.align-items-center {
  align-items: center;
}

.mb-2 {
  margin-bottom: 2rem;
}


@media (max-width: 960px) {

}
