/*
Copyright Artur Janas
SASS: sass --watch sass/index.scss:public/styles/index.css

sass --watch sass/index.scss:public/styles/index.css sass/core.scss:public/styles/core.css
*/

@import "mixins.scss";
@import "core.scss";

/* --------------------------- SECTIONS --------------------------- */


#container section {
  align-items: center;
  display: flex;
  height: 50vh;
  justify-content: center;
  margin-top: 4rem;
  // scroll-snap-align: center;
  .w-50 {
    width: 50%;

    &.left {
      padding: 6rem 0 6rem 6rem;
      &.hero {
        border-top-right-radius: 6rem;
        border-bottom-right-radius: 6rem;
        margin-right: 3rem;
      }
    }
    &.right {
      padding: 6rem 3rem;
      &.hero {
        border-top-left-radius: 6rem;
        border-bottom-left-radius: 6rem;
        margin-left: 3rem;
      }
    }
    &.hero {
      height: 80%;
      overflow: hidden;
      padding: 0;
      width: 50%;
      .bg-img {
        display: block;
        height: 100%;
        width: 100%;
      }
      // section 1
      .bank {
        background: url('../hero/bank.png') no-repeat center center;
        background-size: cover;
      }
      // section 2
      .mimo {
        background: url('../hero/mimo.png') no-repeat center center;
        background-size: cover;
      }
      // section 3
      .nhs {
        background: url('../hero/nhs.png') no-repeat center center;
        background-size: cover;
      }
      // section 4
      .social {
        background: url('../hero/social.png') no-repeat center center;
        background-size: cover;
      }
      // section 5
      .storytelling {
        background: url('../hero/storytelling.png') no-repeat center center;
        background-size: cover;
      }
    }
  }
}

div.break, div.cta, div.footer {
  display: flex;
  height: auto;
  justify-content: center;
  padding-left: 6rem;
  width: 100%;
  &.break {
    justify-content: flex-start;
  }
  &.cta > .cta-container {
    align-items: center;
    padding: 2rem 0;
    .or {
      padding: 0 1rem;
    }
  }
  &.footer {
    padding: 2rem 0;
  }
}

/* 3 --------------------------- PROJECT DETAILS --------------------------- */

#project-overlay-nav {
  display: none;
  &.active {
    .overlay-close,
    .overlay-next,
    .overlay-prev {
      opacity: 1;
      transform: translateX(0);
    }
  }
  .overlay-close, .overlay-next, .overlay-prev {
    position: fixed;
    font-size: 33px;
    z-index: 500;
    opacity: 0;
    transition: all .25s ease-in-out;

  }
  .overlay-close {
    top: 2rem;
    right: 2rem;
    transform: translateX(-10rem);
  }
  .overlay-next {
    top: calc(50vh - .5rem);
    right: 2rem;
    transform: translateX(-10rem);
  }

  .overlay-prev {
    top: calc(50vh - .5rem);
    left: 2rem;
    transform: translateX(10rem);
  }
}


#project-overlay-wrapper {
  position: absolute;
  opacity: 0;
  display: none;
  transition: all .25s ease-in-out;
  transform: scale(.75) translateY(10vh);
  &.active {
    background-color: white;
    left: 0;
    transform: scale(1) translateY(0);
    opacity: 1;
    overflow-y: scroll;
    height: 100vh;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 400;
  }

  .project-overlay-container {
    padding: 3rem 6rem;
    .project-details {
      display: none;
      &.active {
        display: block;
      }
    }
  }

  // labels

    .labels {
      display: flex;
      align-items: center;
      margin-bottom: 1rem;
      .label-wrapper {
        flex-basis: 8rem;
        margin-right: 3rem;
        flex: 1;
        .label {

        }
      }
      .description {
        flex: 8;
        white-space: nowrap;
      }
    }

  .showcase-body {
    section {
      display: flex;
      margin: 3rem 0;
      padding: 3rem 0;
      align-items: center;

      &.odd-left {
        position: relative;
        &:after {
          content: '';
          position: absolute;
          width: calc(100vw - 3rem);
          height: 100%;
          top: 1.5rem;
          border-top-right-radius: 6rem;
          border-bottom-right-radius: 6rem;
          background-color: $background-box;
          box-shadow: $background-box-shadow;
          z-index: -1;
          left: -6rem;
        }
      }
      &.odd-right {
        position: relative;
        &:after {
          content: '';
          position: absolute;
          width: calc(100vw - 3rem);
          height: 100%;
          top: 1.5rem;
          border-top-left-radius: 6rem;
          border-bottom-left-radius: 6rem;
          background-color: $background-box;
          box-shadow: $background-box-shadow;
          z-index: -1;
          right: -6rem;
        }

        &.w-button {
          position: absolute;
          display: block;
          width: 1rem;
          height: 1rem;
          left: -1rem;
          background: url('../ui/button-scroll.svg') no-repeat center;
          background-size: 2rem;
        }
      }

      p {
        margin-bottom: 2rem;
        &:last-of-type {
          margin-bottom: 0;
        }
      }

      ul.w-icons {
        li:before {
          content: '';
          position: absolute;
          display: block;
          width: 1rem;
          height: 1rem;
          left: -1rem;
          padding: .5rem 1.2rem 1rem;

        }
        // image paths
        li.tiles:before {
          background: url('../icons/tiles.svg') no-repeat center;
          background-size: 2rem;
        }
        li.view:before {
          background: url('../icons/view.svg') no-repeat center;
          background-size: 2rem;
        }
        li.chart:before {
          background: url('../icons/chart.svg') no-repeat center;
          background-size: 2rem;
        }
        li.heart:before {
          background: url('../icons/heart.svg') no-repeat center;
          background-size: 2rem;
        }
        li.target:before {
          background: url('../icons/target.svg') no-repeat center;
          background-size: 2rem;
        }
        li.user:before {
          background: url('../icons/user.svg') no-repeat center;
          background-size: 2rem;
        }
      }

      .w-50 {
        height: 60vh;
      }

      .hero {
        overflow: hidden;
        // margin-top: 3rem;
        .bg-img {
          display: block;
          height: 100%;
          width: 100%;
          &.hierarchy {
            background: url('../bank/hierarchy.png') no-repeat center center;
            background-size: contain;
          }
          &.user-oriented {
            background: url('../bank/user-oriented.png') no-repeat center center;
            background-size: contain;
          }
          &.responsive {
            background: url('../bank/responsive.png') no-repeat center center;
            background-size: contain;
          }
          &.transparent {
            background: url('../bank/transparent.png') no-repeat center center;
            background-size: contain;
          }
          &.engaging {
            background: url('../bank/engaging.png') no-repeat center center;
            background-size: contain;
          }
          &.organised {
            background: url('../bank/organised.png') no-repeat center center;
            background-size: contain;
          }
        }

      }

    }
  }
}
