/*
Copyright Artur Janas
SASS: sass --watch sass/index.scss:public/styles/index.css
*/

@import "mixins.scss";

/* 1 --------------------------- CORE --------------------------- */

/* 1.1. Variables */

// links
$link: #4568E7;

// text
$text: #3C3C3C;
$text-secondary: #555252;
$text-invert: white;

// labels
$label-1: #FFCD14;
$label-2: #2BE7CB;
$label-3: #FE7A7A;

// gradinets
$btn-start: #2040E1;
$btn-end: #3358ED;

/* 1.2.  Core properties */
html, body {
  box-sizing: border-box;
  color: $text;
  font-family: 'Muli', sans-serif;
  margin: 0;
  // height: 100%;
}

.container {
  padding-top: 4rem;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  border-radius: 8px;
  // height: 100%;
}
nav {
  align-items: center;
  background-color: white;
  display: flex;
  height: 2rem;
  justify-content: space-between;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 4rem 6rem;
  z-index: 100;
  .btn {
    @include nav-button;
  }
  .nav-item {
    font-size: 24px;
    padding: 1rem 2rem;
  }
}
* {
  box-sizing: inherit;
}
h1 {
  font-size: 36px;
  font-weight: bold;
  margin: 0 0 1rem 0;
}
.h1-underline {
  display: block;
  position: relative;
  margin-bottom: 2rem;
  &:after {
    content: '';
    background-color: $text;
    height: 2px;
    left: 0;
    position: absolute;
    top: 0rem;
    width: 12rem;
  }
}
p {
  font-size: 26px;
  margin: .2rem 0 0 0;
}
a {
  color: $link;
  font-size: 20px;
  text-decoration: none;
}
ul {
  font-size: 20px;
  list-style: none;
  margin: .4rem 0 2rem 0;
  padding: 0;
  li {
    color: $text;
    font-weight: light;
    padding: 1rem 0;
    &.bold {
      color: $text-secondary;
      font-weight: bold;
    }
  }
}
label {
  font-size: 22px;
}

.cta-container {
  display: flex;
  justify-content: center;
  .btn {
    @include button;
  }
}

/* 1.3. Helpers */





/* 2 --------------------------- SECTIONS --------------------------- */




.container section {
  // scroll-snap-align: start;
  height: 66vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .w-50 {
    width: 50%;
    padding: 6rem;
    &.hero {
      overflow: hidden;
      padding: 0;
      height: 70%;
      width: 50%;
      &.left {
        border-top-right-radius: 6rem;
        border-bottom-right-radius: 6rem;
        margin-right: 6rem;
      }
      &.right {
        border-top-left-radius: 6rem;
        border-bottom-left-radius: 6rem;
        margin-left: 6rem;
      }

      .bg-img {
        display: block;
        height: 100%;
        width: 100%;
      }
      // section 1
      .bank {
        background: url('../hero/bank.png') no-repeat;
        background-size: cover;
      }
      // section 2
      .mimo {
        background: url('../hero/mimo.png') no-repeat;
        background-size: cover;
      }
      // section 3
      .nhs {
        background: url('../hero/nhs.png') no-repeat;
        background-size: cover;
      }
      // section 4
      .social {
        background: url('../hero/social.png') no-repeat;
        background-size: cover;
      }
      // section 5
      .storytelling {
        background: url('../hero/storytelling.png') no-repeat;
        background-size: cover;
      }
    }
  }
}

.container section.break, .container section.cta, .container section.footer {
  height: auto;
  padding-left: 6rem;
  width: 100%;
  &.break {
    justify-content: flex-start;
  }
  &.cta > .cta-container {
    align-items: center;
    padding: 2rem 0;
    .or {
      padding: 0 1rem;
    }
  }
  &.footer {
    padding: 2rem 0;
  }
}


@media (max-width: 960px) {

}
