
@mixin linear-gradient($direction, $color-stops...) {
  background: nth(nth($color-stops, 1), 1);
  background: -webkit-linear-gradient(legacy-direction($direction), $color-stops);
  background: linear-gradient($direction, $color-stops);
}

@mixin button {
  // background-image: linear-gradient($btn-start, $btn-end);
  background-color: $btn-end;
  border-radius: 40px;
  color: $text-invert;
  cursor: hand;
  cursor: pointer;
  display: inline-block;
  font-size: 18px;
  letter-spacing: .04rem;
  padding: 1rem 2rem;
  position: relative;
  text-decoration: none;
  transition: all .25s ease-in-out;
  white-space: nowrap;
  &:hover {
    background: darken($btn-start, 2);
    box-shadow: -12px 10px 15px 0 rgba(0,0,0,0.10);
  }
}

@mixin nav-button {
  @include button;
  background-image: none;
  background-color: white;
  box-shadow: none;
  color: $link;
  transition: all .25s ease-in-out;
  &.active {
    box-shadow: -12px 10px 15px 0 rgba(0,0,0,0.10);
    border: 1px solid rgba(0,0,0,0.04);
  }
  &:hover {
    background-color: darken(white, 2);
    &.inactive {
      box-shadow: -12px 10px 15px 0 rgba(0,0,0,0.10);
    }
  }
}


@keyframes plane_in {
	from {
    opacity: 0;
		transform: translate3d(-40px, 40px, -120px);
	}
	to {
    opacity: 1;
		transform: translate3d(0 0 0);
	}
}
@keyframes plane_out {
	from {
    opacity: 1;
		transform: translate3d(0 0 0);
	}
	to {
    opacity: 0;
		transform: translate3d(40px, -40px, -120px);
	}
}
