/*
Copyright Artur Janas
SASS: sass --watch sass/about.scss:public/styles/about.css

sass --watch sass/index.scss:public/styles/index.css sass/core.scss:public/styles/core.css sass/about.scss:public/styles/about.css

*/
@keyframes plane_in {
  from {
    opacity: 0;
    transform: translate3d(-40px, 40px, -120px); }
  to {
    opacity: 1;
    transform: translate3d(0 0 0); } }
@keyframes plane_out {
  from {
    opacity: 1;
    transform: translate3d(0 0 0); }
  to {
    opacity: 0;
    transform: translate3d(40px, -40px, -120px); } }
/*
Copyright Artur Janas
SASS: sass --watch sass/core.scss:public/styles/core.css
*/
@keyframes plane_in {
  from {
    opacity: 0;
    transform: translate3d(-40px, 40px, -120px); }
  to {
    opacity: 1;
    transform: translate3d(0 0 0); } }
@keyframes plane_out {
  from {
    opacity: 1;
    transform: translate3d(0 0 0); }
  to {
    opacity: 0;
    transform: translate3d(40px, -40px, -120px); } }
/* --------------------------- CORE --------------------------- */
/* 1.1. Variables */
/* 1.2.  Core properties */
html, body {
  box-sizing: border-box;
  color: #3C3C3C;
  font-family: 'Muli', sans-serif;
  margin: 0;
  height: 100vh;
  overflow-y: scroll;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch; }

#container {
  opacity: .1;
  padding-top: 6rem;
  transform: scale(1.05) translateY(3rem);
  transition: all .45s ease-out; }
  #container.active {
    opacity: 1;
    transform: scale(1) translateY(0); }

nav {
  align-items: center;
  background-color: white;
  box-shadow: 0px 31px 31px rgba(0, 0, 0, 0.02);
  display: flex;
  height: 2rem;
  justify-content: space-between;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 4rem 6rem;
  transition: all .45s ease-out;
  z-index: 100; }
  nav .btn {
    background-color: #3358ED;
    border-radius: 40px;
    color: white;
    cursor: hand;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    letter-spacing: .04rem;
    padding: 1rem 2rem;
    position: relative;
    text-decoration: none;
    transition: all .25s ease-in-out;
    white-space: nowrap;
    background-image: none;
    background-color: white;
    box-shadow: none;
    color: #4568E7;
    transition: all .25s ease-in-out; }
    nav .btn:hover {
      background: #1d3cda;
      box-shadow: -12px 10px 15px 0 rgba(0, 0, 0, 0.1); }
    nav .btn.active {
      box-shadow: -12px 10px 15px 0 rgba(0, 0, 0, 0.1);
      border: 1px solid rgba(0, 0, 0, 0.04); }
    nav .btn:hover {
      background-color: #fafafa; }
      nav .btn:hover.inactive {
        box-shadow: -12px 10px 15px 0 rgba(0, 0, 0, 0.1); }
  nav .nav-item {
    font-size: 18px;
    padding: 1rem 2rem; }

#contact {
  align-items: center;
  background-color: white;
  border-radius: 6rem;
  bottom: 2rem;
  box-shadow: 0px 4px 11px rgba(0, 0, 0, 0.07);
  color: #4568E7;
  cursor: pointer;
  cursor: hand;
  display: flex;
  font-size: larger;
  height: 2.2rem;
  justify-content: center;
  position: fixed;
  right: 2rem;
  width: 2.2rem;
  z-index: 600; }
  #contact #contact-popup {
    background-color: inherit;
    border-radius: 2rem;
    bottom: 3.4rem;
    box-shadow: 0px 4px 11px rgba(0, 0, 0, 0.07);
    display: none;
    padding: 1rem 2rem;
    position: absolute;
    right: -1.4rem;
    white-space: nowrap;
    width: auto;
    opacity: 0;
    transform: scale(0.75);
    transition: all 0.45s cubic-bezier(0.68, -0.55, 0.265, 1.55); }
    #contact #contact-popup.active {
      opacity: 1;
      transform: scale(1); }
    #contact #contact-popup:first-of-type {
      color: #3C3C3C;
      cursor: auto; }
    #contact #contact-popup p {
      margin: 0; }
    #contact #contact-popup:after {
      border-left: .8rem solid transparent;
      border-right: .8rem solid transparent;
      border-top: .8rem solid white;
      bottom: -.7rem;
      content: '';
      height: 0;
      position: absolute;
      right: 1.8rem;
      width: 0; }

* {
  box-sizing: inherit; }

h1 {
  font-size: 26px;
  font-weight: bold;
  margin: 0 0 1rem 0; }

h2 {
  font-size: 26px;
  font-weight: normal;
  margin: 3rem 0 2rem 0; }

h3 {
  font-size: 20px;
  font-weight: normal;
  margin: 2rem 0; }
  h3:first-of-type {
    margin-top: 0; }

.h1-underline {
  display: block;
  position: relative;
  margin-bottom: 1.8rem; }
  .h1-underline:after {
    content: '';
    background-color: #3C3C3C;
    height: 2px;
    left: 0;
    position: absolute;
    top: 0rem;
    width: 12rem; }

p {
  font-size: 18px;
  margin: 1rem 0 0 0;
  line-height: 2rem; }
  p.large {
    font-size: 22px; }
  p.xs {
    font-size: 13px;
    line-height: normal; }

a {
  color: #4568E7;
  cursor: pointer;
  cursor: hand;
  font-size: 18px;
  text-decoration: none; }

ul {
  font-size: 18px;
  list-style: none;
  margin: 0;
  padding: 0; }
  ul.w-icons li {
    padding-left: 3rem;
    position: relative; }
  ul.inline {
    display: inline-flex;
    margin-bottom: 2rem; }
    ul.inline li {
      padding-right: 1rem; }
  ul li {
    color: #3C3C3C;
    padding: .5rem 0;
    color: #555252; }
    ul li.bold {
      color: #3C3C3C;
      font-weight: bold; }

.labels {
  display: grid;
  align-items: center;
  margin-bottom: 1rem;
  grid-template-columns: 200px auto;
  margin-bottom: 1rem; }
  .labels .label-wrapper {
    margin-right: 3rem; }
    .labels .label-wrapper .label {
      font-size: 18px;
      padding: .3rem 1.3rem;
      display: inline-block;
      color: white;
      border-radius: 2rem;
      text-align: center; }
      .labels .label-wrapper .label.teal {
        background-color: #2BE7CB; }
      .labels .label-wrapper .label.yellow {
        background-color: #FFCD14; }
      .labels .label-wrapper .label.tangerine {
        background-color: #FE7A7A; }
  .labels .description {
    font-size: 18px; }

.cta-container {
  display: flex;
  justify-content: flex-start;
  margin-top: 1rem;
  margin-left: -.4rem; }

.btn {
  background-color: #3358ED;
  border-radius: 40px;
  color: white;
  cursor: hand;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  letter-spacing: .04rem;
  padding: 1rem 2rem;
  position: relative;
  text-decoration: none;
  transition: all .25s ease-in-out;
  white-space: nowrap; }
  .btn:hover {
    background: #1d3cda;
    box-shadow: -12px 10px 15px 0 rgba(0, 0, 0, 0.1); }

div.footer {
  display: flex;
  justify-content: center;
  padding: 3rem 0 2rem 0;
  width: 100%; }

.w-50 {
  width: 50%; }

.w-100 {
  width: 100%; }

.d-flex {
  display: flex; }

.flex-column {
  flex-direction: column; }

.justify-content-between {
  justify-content: space-between; }

.justify-content-center {
  justify-content: center; }

.align-items-center {
  align-items: center; }

.mb-0 {
  margin-bottom: 0rem; }

.mb-2 {
  margin-bottom: 2rem; }

.mt-0 {
  margin-top: 0rem; }

.mt-1 {
  margin-top: 1rem; }

.mt-2 {
  margin-top: 2rem; }

.mt-3 {
  margin-top: 3rem; }

.mt-5 {
  margin-top: 5rem; }

.blur {
  filter: blur(14px); }

@media (max-width: 960px) {
  nav {
    padding: 2rem 0;
    height: auto; }

  h1 {
    margin-top: 2rem; }

  div.footer {
    padding-top: 1rem; }

  .labels {
    margin-bottom: 1rem;
    grid-template-columns: 100vw; }
    .labels .label-wrapper {
      margin-bottom: 1rem; }
    .labels .description {
      font-size: 18px;
      line-height: 2rem; } }
@media (max-width: 660px) {
  nav {
    flex-direction: column;
    height: auto;
    position: relative; }
    nav span:nth-of-type(1) {
      margin: 3rem 0 1rem 0; }
    nav span:nth-of-type(2) {
      position: absolute;
      top: 1rem;
      width: 100%;
      text-align: center; }

  .nav-item.btn {
    padding: .4rem .8rem; }

  ul.inline {
    flex-direction: column; }

  .project-details {
    padding-bottom: 4rem; }

  #contact {
    bottom: 2rem; } }
section#about {
  align-items: center;
  display: grid;
  grid-template-columns: 200px auto; }
  section#about > div {
    flex: 7; }
  section#about > div:first-of-type {
    background: url("../ankajanas.png") no-repeat top left;
    background-size: contain;
    height: 34vh;
    margin-right: 8rem;
    flex: 2; }

section#noteworthy > div:first-of-type, section#techniques > div:first-of-type {
  margin-right: 3rem; }

#container section {
  align-items: flex-start;
  display: flex;
  padding: 1rem 6rem; }
  #container section:first-of-type {
    margin-top: 5rem; }
  #container section h1 {
    margin-top: 2rem; }
  #container section.odd-left {
    padding: 6rem;
    height: 100%;
    position: relative; }
    #container section.odd-left:after {
      content: '';
      position: absolute;
      width: calc(103vw);
      height: calc(100% - 6rem);
      border-top-right-radius: 6rem;
      border-bottom-right-radius: 6rem;
      background-color: #F9FCFF;
      box-shadow: 0px 4px 11px rgba(0, 0, 0, 0.07);
      top: 4rem;
      z-index: -1;
      left: -6rem; }
  #container section .skills-scale-wrapper:first-of-type {
    margin-right: 3rem; }
  #container section .skills-scale-wrapper > div {
    align-items: center;
    display: flex;
    font-size: 24px;
    justify-content: space-between;
    padding: 1rem 0;
    width: 80%; }
    #container section .skills-scale-wrapper > div i {
      background-color: white;
      border: 1px solid #2BE7CB;
      border-radius: 50%;
      box-shadow: 0px 4px 11px rgba(0, 0, 0, 0.07);
      display: inline-block;
      height: 1.2rem;
      margin-left: 1.2rem;
      width: 1.2rem; }
      #container section .skills-scale-wrapper > div i.filled {
        background-color: #2BE7CB; }

@media (max-width: 1080px) {
  #container section .skills-scale-wrapper > div {
    width: 100%; } }
@media (max-width: 960px) {
  #container section {
    flex-direction: column;
    padding: 2rem; }
    #container section:first-of-type {
      display: grid;
      grid-template-columns: 250px auto;
      margin-top: 3rem; }
    #container section#noteworthy {
      padding: 0 2rem; }
    #container section ul {
      margin-bottom: 0; }
    #container section .skills-scale-wrapper > div {
      width: 80%; }

  #container section.odd-left {
    padding: 0 2rem; }
    #container section.odd-left:after {
      display: none; }

  .w-100.d-flex {
    flex-direction: column; }

  .w-50 {
    width: 100%; }

  .mt-5 {
    margin-top: 0rem; }

  .mb-2 {
    margin-bottom: 0; } }
@media (max-width: 660px) {
  #container {
    padding-top: 0; }
    #container > section:first-of-type {
      margin-top: 0; }

  #container section {
    flex-direction: column;
    padding: 2rem; }
    #container section:first-of-type {
      display: flex; }
      #container section:first-of-type > div:first-of-type {
        background-position: center;
        margin: 1rem 0;
        width: 100%; }

  #container section .skills-scale-wrapper > div {
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%; }
    #container section .skills-scale-wrapper > div span:nth-of-type(2) {
      margin-top: 1rem; }
      #container section .skills-scale-wrapper > div span:nth-of-type(2) i:first-of-type {
        margin-left: 0; } }

/*# sourceMappingURL=about.css.map */
