/*
Copyright Artur Janas
SASS: sass --watch sass/core.scss:public/styles/core.css
*/
@keyframes plane_in {
  from {
    opacity: 0;
    transform: translate3d(-40px, 40px, -120px); }
  to {
    opacity: 1;
    transform: translate3d(0 0 0); } }
@keyframes plane_out {
  from {
    opacity: 1;
    transform: translate3d(0 0 0); }
  to {
    opacity: 0;
    transform: translate3d(40px, -40px, -120px); } }
/* --------------------------- CORE --------------------------- */
/* 1.1. Variables */
/* 1.2.  Core properties */
html, body {
  box-sizing: border-box;
  color: #3C3C3C;
  font-family: 'Muli', sans-serif;
  margin: 0;
  height: 100%; }

#container {
  height: 100vh;
  overflow-y: scroll;
  opacity: .1;
  padding-top: 6rem;
  transform: scale(1.05) translateY(3rem);
  transition: all .45s ease-out; }
  #container.active {
    opacity: 1;
    transform: scale(1) translateY(0); }

nav {
  align-items: center;
  background-color: white;
  box-shadow: 0px 31px 31px rgba(0, 0, 0, 0.02);
  display: flex;
  height: 2rem;
  justify-content: space-between;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 4rem 6rem;
  transition: all .45s ease-out;
  z-index: 100; }
  nav .btn {
    background-color: #3358ED;
    border-radius: 40px;
    color: white;
    cursor: hand;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    letter-spacing: .04rem;
    padding: 1rem 2rem;
    position: relative;
    text-decoration: none;
    transition: all .25s ease-in-out;
    white-space: nowrap;
    background-image: none;
    background-color: white;
    box-shadow: none;
    color: #4568E7;
    transition: all .25s ease-in-out; }
    nav .btn:hover {
      background: #1d3cda;
      box-shadow: -12px 10px 15px 0 rgba(0, 0, 0, 0.1); }
    nav .btn.active {
      box-shadow: -12px 10px 15px 0 rgba(0, 0, 0, 0.1);
      border: 1px solid rgba(0, 0, 0, 0.04); }
    nav .btn:hover {
      background-color: #fafafa; }
      nav .btn:hover.inactive {
        box-shadow: -12px 10px 15px 0 rgba(0, 0, 0, 0.1); }
  nav .nav-item {
    font-size: 18px;
    padding: 1rem 2rem; }

* {
  box-sizing: inherit; }

h1 {
  font-size: 26px;
  font-weight: bold;
  margin: 3rem 0 1rem 0; }

h2 {
  font-size: 26px;
  font-weight: normal;
  margin: 3rem 0 2rem 0; }

h3 {
  font-size: 20px;
  font-weight: normal;
  margin: 2rem 0; }
  h3:first-of-type {
    margin-top: 0; }

.h1-underline {
  display: block;
  position: relative;
  margin-bottom: 3rem; }
  .h1-underline.xs {
    margin-bottom: 1.8rem; }
  .h1-underline:after {
    content: '';
    background-color: #3C3C3C;
    height: 2px;
    left: 0;
    position: absolute;
    top: 0rem;
    width: 12rem; }

p {
  font-size: 18px;
  margin: 1rem 0 0 0;
  line-height: 2rem; }
  p.large {
    font-size: 22px; }
  p.xs {
    font-size: 13px;
    line-height: normal; }

a {
  color: #4568E7;
  cursor: pointer;
  cursor: hand;
  font-size: 18px;
  text-decoration: none; }

ul {
  font-size: 18px;
  list-style: none;
  margin: .4rem 0 2rem 0;
  padding: 0; }
  ul.w-icons li {
    padding-left: 3rem;
    position: relative; }
  ul.inline {
    display: inline-flex; }
    ul.inline li {
      padding-right: 1rem; }
  ul li {
    color: #3C3C3C;
    padding: .5rem 0;
    color: #555252; }
    ul li.bold {
      color: #3C3C3C;
      font-weight: bold; }

.labels {
  display: flex;
  align-items: center;
  margin-bottom: 1rem; }
  .labels .label-wrapper {
    flex-basis: 8rem;
    margin-right: 3rem;
    flex: 1; }
    .labels .label-wrapper .label {
      font-size: 18px;
      padding: .3rem 1.3rem;
      display: inline-block;
      color: white;
      border-radius: 2rem;
      text-align: center; }
      .labels .label-wrapper .label.teal {
        background-color: #2BE7CB; }
      .labels .label-wrapper .label.yellow {
        background-color: #FFCD14; }
      .labels .label-wrapper .label.tangerine {
        background-color: #FE7A7A; }
  .labels .description {
    flex: 8;
    font-size: 18px;
    white-space: nowrap; }

.cta-container {
  display: flex;
  justify-content: flex-start;
  margin-top: 1rem;
  margin-left: -.4rem; }

.btn {
  background-color: #3358ED;
  border-radius: 40px;
  color: white;
  cursor: hand;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  letter-spacing: .04rem;
  padding: 1rem 2rem;
  position: relative;
  text-decoration: none;
  transition: all .25s ease-in-out;
  white-space: nowrap; }
  .btn:hover {
    background: #1d3cda;
    box-shadow: -12px 10px 15px 0 rgba(0, 0, 0, 0.1); }

div.footer {
  display: flex;
  justify-content: center;
  padding: 3rem 0 2rem 0;
  width: 100%; }

.w-50 {
  width: 50%; }

.w-100 {
  width: 100%; }

.d-flex {
  display: flex; }

.flex-column {
  flex-direction: column; }

.justify-content-between {
  justify-content: space-between; }

.justify-content-center {
  justify-content: center; }

.align-items-center {
  align-items: center; }

.mb-2 {
  margin-bottom: 2rem; }

.mt-0 {
  margin-top: 0rem; }

.mt-1 {
  margin-top: 1rem; }

.mt-2 {
  margin-top: 2rem; }

.mt-3 {
  margin-top: 3rem; }

.mt-5 {
  margin-top: 5rem; }

.blur {
  filter: blur(14px); }

.zoom {
  cursor: zoom-in; }

/*# sourceMappingURL=core.css.map */
