/*
Copyright Artur Janas
SASS: sass --watch sass/index.scss:public/styles/index.css

sass --watch sass/index.scss:public/styles/index.css sass/core.scss:public/styles/core.css
*/
@keyframes plane_in {
  from {
    opacity: 0;
    transform: translate3d(-40px, 40px, -120px); }
  to {
    opacity: 1;
    transform: translate3d(0 0 0); } }
@keyframes plane_out {
  from {
    opacity: 1;
    transform: translate3d(0 0 0); }
  to {
    opacity: 0;
    transform: translate3d(40px, -40px, -120px); } }
/*
Copyright Artur Janas
SASS: sass --watch sass/core.scss:public/styles/core.css
*/
@keyframes plane_in {
  from {
    opacity: 0;
    transform: translate3d(-40px, 40px, -120px); }
  to {
    opacity: 1;
    transform: translate3d(0 0 0); } }
@keyframes plane_out {
  from {
    opacity: 1;
    transform: translate3d(0 0 0); }
  to {
    opacity: 0;
    transform: translate3d(40px, -40px, -120px); } }
/* --------------------------- CORE --------------------------- */
/* 1.1. Variables */
/* 1.2.  Core properties */
html, body {
  box-sizing: border-box;
  color: #3C3C3C;
  font-family: 'Muli', sans-serif;
  margin: 0;
  height: 100%; }

#container {
  padding-top: 6rem;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh; }

nav {
  align-items: center;
  background-color: white;
  display: flex;
  height: 2rem;
  justify-content: space-between;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 4rem 6rem;
  z-index: 100; }
  nav .btn {
    background-image: linear-gradient(#2040E1, #3358ED);
    border-radius: 40px;
    box-shadow: -12px 10px 15px 0 rgba(0, 0, 0, 0.1);
    color: white;
    cursor: hand;
    cursor: pointer;
    display: inline-block;
    font-size: 18px;
    letter-spacing: .04rem;
    padding: 1rem 2rem;
    position: relative;
    text-decoration: none;
    white-space: nowrap;
    background-image: none;
    background-color: white;
    box-shadow: none;
    color: #4568E7; }
    nav .btn:hover {
      background: #2a50ec; }
    nav .btn.active {
      box-shadow: -12px 10px 15px 0 rgba(0, 0, 0, 0.1); }
      nav .btn.active:hover {
        background-color: #fafafa; }
  nav .nav-item {
    font-size: 22px;
    padding: 1rem 2rem; }

* {
  box-sizing: inherit; }

h1 {
  font-size: 36px;
  font-weight: bold;
  margin: 3rem 0 1rem 0; }

h2 {
  font-size: 36px;
  font-weight: normal;
  margin: 3rem 0 3rem 0; }

.h1-underline {
  display: block;
  position: relative;
  margin-bottom: 3rem; }
  .h1-underline.xs {
    margin-bottom: 1.8rem; }
  .h1-underline:after {
    content: '';
    background-color: #3C3C3C;
    height: 2px;
    left: 0;
    position: absolute;
    top: 0rem;
    width: 12rem; }

p {
  font-size: 18px;
  margin: .2rem 0 0 0;
  line-height: 2.5rem; }
  p.xs {
    font-size: 14px;
    line-height: normal; }

a {
  color: #4568E7;
  cursor: pointer;
  cursor: hand;
  font-size: 16px;
  text-decoration: none; }

ul {
  font-size: 16px;
  list-style: none;
  margin: .4rem 0 2rem 0;
  padding: 0; }
  ul.w-icons li {
    padding-left: 3rem;
    position: relative; }
  ul.inline {
    display: inline-flex; }
    ul.inline li {
      padding-right: 1rem; }
  ul li {
    color: #3C3C3C;
    padding: .5rem 0;
    color: #555252; }
    ul li.bold {
      color: #3C3C3C;
      font-weight: bold; }

.label {
  font-size: 16px;
  padding: .3rem 1.3rem;
  display: inline-block;
  color: white;
  border-radius: 2rem;
  text-align: center; }
  .label.teal {
    background-color: #FFCD14; }
  .label.yellow {
    background-color: #2BE7CB; }
  .label.tangerine {
    background-color: #FE7A7A; }

.cta-container {
  display: flex;
  justify-content: center; }
  .cta-container .btn {
    background-image: linear-gradient(#2040E1, #3358ED);
    border-radius: 40px;
    box-shadow: -12px 10px 15px 0 rgba(0, 0, 0, 0.1);
    color: white;
    cursor: hand;
    cursor: pointer;
    display: inline-block;
    font-size: 18px;
    letter-spacing: .04rem;
    padding: 1rem 2rem;
    position: relative;
    text-decoration: none;
    white-space: nowrap; }
    .cta-container .btn:hover {
      background: #2a50ec; }

.w-50 {
  width: 50%; }

.w-100 {
  width: 100%; }

.d-flex {
  display: flex; }

.flex-column {
  flex-direction: column; }

.justify-content-between {
  justify-content: space-between; }

.align-items-center {
  align-items: center; }

.mb-2 {
  margin-bottom: 2rem; }

/* --------------------------- SECTIONS --------------------------- */
#container section {
  align-items: center;
  display: flex;
  height: 60vh;
  justify-content: center; }
  #container section:first-of-type {
    margin-top: 4rem; }
  #container section .w-50 {
    width: 50%; }
    #container section .w-50.left {
      padding: 6rem 0 6rem 6rem; }
      #container section .w-50.left.hero {
        border-top-right-radius: 6rem;
        border-bottom-right-radius: 6rem;
        margin-right: 3rem; }
    #container section .w-50.right {
      padding: 6rem 3rem; }
      #container section .w-50.right.hero {
        border-top-left-radius: 6rem;
        border-bottom-left-radius: 6rem;
        margin-left: 3rem; }
    #container section .w-50.hero {
      box-shadow: 0px 4px 11px rgba(0, 0, 0, 0.07);
      height: 100%;
      overflow: hidden;
      padding: 0;
      width: 50%; }
      #container section .w-50.hero .bg-img {
        display: block;
        height: 100%;
        width: 100%; }
      #container section .w-50.hero .bank {
        background: url("../hero/bank.png") no-repeat center center;
        background-size: 150%; }
      #container section .w-50.hero .mimo {
        background: url("../hero/mimo.png") no-repeat center center;
        background-size: cover; }
      #container section .w-50.hero .nhs {
        background: url("../hero/nhs.png") no-repeat center center;
        background-size: cover; }
      #container section .w-50.hero .social {
        background: url("../hero/social.png") no-repeat center center;
        background-size: cover; }
      #container section .w-50.hero .storytelling {
        background: url("../hero/storytelling.png") no-repeat center center;
        background-size: cover; }

div.break, div.cta, div.footer {
  display: flex;
  height: auto;
  justify-content: center;
  padding-left: 6rem;
  width: 100%; }
  div.break.break, div.cta.break, div.footer.break {
    justify-content: flex-start; }
  div.break.cta > .cta-container, div.cta.cta > .cta-container, div.footer.cta > .cta-container {
    align-items: center;
    padding: 2rem 0; }
    div.break.cta > .cta-container .or, div.cta.cta > .cta-container .or, div.footer.cta > .cta-container .or {
      padding: 0 1rem; }
  div.break.footer, div.cta.footer, div.footer.footer {
    padding: 2rem 0; }

/* 3 --------------------------- PROJECT DETAILS --------------------------- */
#project-overlay-nav {
  display: none;
  height: 100vh;
  opacity: 0;
  position: relative;
  transform: scale(0.75);
  transition: all .25s ease-in-out;
  z-index: 500; }
  #project-overlay-nav.active {
    opacity: 1;
    transform: scale(1); }
  #project-overlay-nav .overlay-close {
    position: fixed;
    top: 2rem;
    right: 2rem; }
    #project-overlay-nav .overlay-close i {
      font-size: 2rem; }
  #project-overlay-nav .overlay-prev, #project-overlay-nav .overlay-next, #project-overlay-nav .overlay-close {
    background-color: white;
    border-radius: 6rem;
    box-shadow: 0px 4px 11px rgba(0, 0, 0, 0.07);
    padding: .4rem 1rem; }
  #project-overlay-nav .overlay-prev {
    position: fixed;
    left: 2rem;
    bottom: 2rem; }
  #project-overlay-nav .overlay-next {
    position: fixed;
    right: 2rem;
    bottom: 2rem; }

#project-overlay-wrapper {
  background-color: white;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  left: 0;
  height: 100vh;
  opacity: 0;
  overflow-y: scroll;
  position: fixed;
  top: 0;
  transform: scale(0.75) translateY(10vh);
  transition: all .25s ease-in-out;
  width: 100%;
  z-index: 400; }
  #project-overlay-wrapper.active {
    opacity: 1;
    transform: scale(1) translateY(0); }
  #project-overlay-wrapper .project-overlay-container {
    padding: 3rem 6rem; }
    #project-overlay-wrapper .project-overlay-container .project-details {
      display: none; }
      #project-overlay-wrapper .project-overlay-container .project-details.active {
        display: block; }
  #project-overlay-wrapper .labels {
    display: flex;
    align-items: center;
    margin-bottom: 1rem; }
    #project-overlay-wrapper .labels .label-wrapper {
      flex-basis: 8rem;
      margin-right: 3rem;
      flex: 1; }
    #project-overlay-wrapper .labels .description {
      flex: 8;
      white-space: nowrap; }
  #project-overlay-wrapper .showcase-body section {
    display: flex;
    margin: 3rem 0;
    padding: 3rem 0;
    align-items: center; }
    #project-overlay-wrapper .showcase-body section.odd-left {
      position: relative; }
      #project-overlay-wrapper .showcase-body section.odd-left:after {
        content: '';
        position: absolute;
        width: calc(100vw - 3rem);
        height: 100%;
        top: 1.5rem;
        border-top-right-radius: 6rem;
        border-bottom-right-radius: 6rem;
        background-color: #F9FCFF;
        box-shadow: 0px 4px 11px rgba(0, 0, 0, 0.07);
        z-index: -1;
        left: -6rem; }
    #project-overlay-wrapper .showcase-body section.odd-right {
      position: relative; }
      #project-overlay-wrapper .showcase-body section.odd-right:after {
        content: '';
        position: absolute;
        width: calc(100vw - 3rem);
        height: 100%;
        top: 1.5rem;
        border-top-left-radius: 6rem;
        border-bottom-left-radius: 6rem;
        background-color: #F9FCFF;
        box-shadow: 0px 4px 11px rgba(0, 0, 0, 0.07);
        z-index: -1;
        right: -6rem; }
      #project-overlay-wrapper .showcase-body section.odd-right.w-button {
        position: absolute;
        display: block;
        width: 1rem;
        height: 1rem;
        left: -1rem;
        background: url("../ui/button-scroll.svg") no-repeat center;
        background-size: 2rem; }
    #project-overlay-wrapper .showcase-body section p {
      margin-bottom: 2rem; }
      #project-overlay-wrapper .showcase-body section p:last-of-type {
        margin-bottom: 0; }
    #project-overlay-wrapper .showcase-body section ul.w-icons li:before {
      content: '';
      position: absolute;
      display: block;
      width: 1rem;
      height: 1rem;
      left: -1rem;
      padding: .5rem 1.2rem 1rem; }
    #project-overlay-wrapper .showcase-body section ul.w-icons li.tiles:before {
      background: url("../icons/tiles.svg") no-repeat center;
      background-size: 2rem; }
    #project-overlay-wrapper .showcase-body section ul.w-icons li.view:before {
      background: url("../icons/view.svg") no-repeat center;
      background-size: 2rem; }
    #project-overlay-wrapper .showcase-body section ul.w-icons li.chart:before {
      background: url("../icons/chart.svg") no-repeat center;
      background-size: 2rem; }
    #project-overlay-wrapper .showcase-body section ul.w-icons li.heart:before {
      background: url("../icons/heart.svg") no-repeat center;
      background-size: 2rem; }
    #project-overlay-wrapper .showcase-body section ul.w-icons li.target:before {
      background: url("../icons/target.svg") no-repeat center;
      background-size: 2rem; }
    #project-overlay-wrapper .showcase-body section ul.w-icons li.user:before {
      background: url("../icons/user.svg") no-repeat center;
      background-size: 2rem; }
    #project-overlay-wrapper .showcase-body section .w-50 {
      height: 60vh; }
    #project-overlay-wrapper .showcase-body section .hero {
      overflow: hidden; }
      #project-overlay-wrapper .showcase-body section .hero .bg-img {
        display: block;
        height: 100%;
        width: 100%; }
        #project-overlay-wrapper .showcase-body section .hero .bg-img.hierarchy {
          background: url("../bank/hierarchy.png") no-repeat center center;
          background-size: contain; }
        #project-overlay-wrapper .showcase-body section .hero .bg-img.user-oriented {
          background: url("../bank/user-oriented.png") no-repeat center center;
          background-size: contain; }
        #project-overlay-wrapper .showcase-body section .hero .bg-img.responsive {
          background: url("../bank/responsive.png") no-repeat center center;
          background-size: contain; }
        #project-overlay-wrapper .showcase-body section .hero .bg-img.transparent {
          background: url("../bank/transparent.png") no-repeat center center;
          background-size: contain; }
        #project-overlay-wrapper .showcase-body section .hero .bg-img.engaging {
          background: url("../bank/engaging.png") no-repeat center center;
          background-size: contain; }
        #project-overlay-wrapper .showcase-body section .hero .bg-img.organised {
          background: url("../bank/organised.png") no-repeat center center;
          background-size: contain; }

/*# sourceMappingURL=index.css.map */
