/*
Copyright Artur Janas
SASS: sass --watch sass/index.scss:public/styles/index.css

sass --watch sass/index.scss:public/styles/index.css sass/core.scss:public/styles/core.css sass/about.scss:public/styles/about.css
*/
@keyframes plane_in {
  from {
    opacity: 0;
    transform: translate3d(-40px, 40px, -120px); }
  to {
    opacity: 1;
    transform: translate3d(0 0 0); } }
@keyframes plane_out {
  from {
    opacity: 1;
    transform: translate3d(0 0 0); }
  to {
    opacity: 0;
    transform: translate3d(40px, -40px, -120px); } }
/*
Copyright Artur Janas
SASS: sass --watch sass/core.scss:public/styles/core.css
*/
@keyframes plane_in {
  from {
    opacity: 0;
    transform: translate3d(-40px, 40px, -120px); }
  to {
    opacity: 1;
    transform: translate3d(0 0 0); } }
@keyframes plane_out {
  from {
    opacity: 1;
    transform: translate3d(0 0 0); }
  to {
    opacity: 0;
    transform: translate3d(40px, -40px, -120px); } }
/* --------------------------- CORE --------------------------- */
/* 1.1. Variables */
/* 1.2.  Core properties */
html, body {
  box-sizing: border-box;
  color: #3C3C3C;
  font-family: 'Muli', sans-serif;
  margin: 0;
  height: 100%;
  scroll-behavior: smooth;
  -webkit-scroll-behavior: touch; }

#container {
  opacity: .1;
  padding-top: 6rem;
  transform: scale(1.05) translateY(3rem);
  transition: all .45s ease-out; }
  #container.active {
    opacity: 1;
    transform: scale(1) translateY(0); }

nav {
  align-items: center;
  background-color: white;
  box-shadow: 0px 31px 31px rgba(0, 0, 0, 0.02);
  display: flex;
  height: 2rem;
  justify-content: space-between;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 4rem 6rem;
  transition: all .45s ease-out;
  z-index: 100; }
  nav .btn {
    background-color: #3358ED;
    border-radius: 40px;
    color: white;
    cursor: hand;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    letter-spacing: .04rem;
    padding: 1rem 2rem;
    position: relative;
    text-decoration: none;
    transition: all .25s ease-in-out;
    white-space: nowrap;
    background-image: none;
    background-color: white;
    box-shadow: none;
    color: #4568E7;
    transition: all .25s ease-in-out; }
    nav .btn:hover {
      background: #1d3cda;
      box-shadow: -12px 10px 15px 0 rgba(0, 0, 0, 0.1); }
    nav .btn.active {
      box-shadow: -12px 10px 15px 0 rgba(0, 0, 0, 0.1);
      border: 1px solid rgba(0, 0, 0, 0.04); }
    nav .btn:hover {
      background-color: #fafafa; }
      nav .btn:hover.inactive {
        box-shadow: -12px 10px 15px 0 rgba(0, 0, 0, 0.1); }
  nav .nav-item {
    font-size: 18px;
    padding: 1rem 2rem; }

#contact {
  align-items: center;
  background-color: white;
  border-radius: 6rem;
  bottom: 2rem;
  box-shadow: 0px 4px 11px rgba(0, 0, 0, 0.07);
  color: #4568E7;
  cursor: pointer;
  cursor: hand;
  display: flex;
  font-size: larger;
  height: 2.2rem;
  justify-content: center;
  position: fixed;
  right: 2rem;
  width: 2.2rem;
  z-index: 600; }
  #contact #contact-popup {
    background-color: inherit;
    border-radius: 2rem;
    bottom: 3.4rem;
    box-shadow: 0px 4px 11px rgba(0, 0, 0, 0.07);
    display: none;
    padding: 1rem 2rem;
    position: absolute;
    right: -1.4rem;
    white-space: nowrap;
    width: auto;
    opacity: 0;
    transform: scale(0.75);
    transition: all 0.45s cubic-bezier(0.68, -0.55, 0.265, 1.55); }
    #contact #contact-popup.active {
      opacity: 1;
      transform: scale(1); }
    #contact #contact-popup:first-of-type {
      color: #3C3C3C;
      cursor: auto; }
    #contact #contact-popup p {
      margin: 0; }
    #contact #contact-popup:after {
      border-left: .8rem solid transparent;
      border-right: .8rem solid transparent;
      border-top: .8rem solid white;
      bottom: -.7rem;
      content: '';
      height: 0;
      position: absolute;
      right: 1.8rem;
      width: 0; }

* {
  box-sizing: inherit; }

h1 {
  font-size: 26px;
  font-weight: bold;
  margin: 0 0 1rem 0; }

h2 {
  font-size: 26px;
  font-weight: normal;
  margin: 3rem 0 2rem 0; }

h3 {
  font-size: 20px;
  font-weight: normal;
  margin: 2rem 0; }
  h3:first-of-type {
    margin-top: 0; }

.h1-underline {
  display: block;
  position: relative;
  margin-bottom: 1.8rem; }
  .h1-underline:after {
    content: '';
    background-color: #3C3C3C;
    height: 2px;
    left: 0;
    position: absolute;
    top: 0rem;
    width: 12rem; }

p {
  font-size: 18px;
  margin: 1rem 0 0 0;
  line-height: 2rem; }
  p.large {
    font-size: 22px; }
  p.xs {
    font-size: 13px;
    line-height: normal; }

a {
  color: #4568E7;
  cursor: pointer;
  cursor: hand;
  font-size: 18px;
  text-decoration: none; }

ul {
  font-size: 18px;
  list-style: none;
  margin: 0;
  padding: 0; }
  ul.w-icons li {
    padding-left: 3rem;
    position: relative; }
  ul.inline {
    display: inline-flex;
    margin-bottom: 2rem; }
    ul.inline li {
      padding-right: 1rem; }
  ul li {
    color: #3C3C3C;
    padding: .5rem 0;
    color: #555252; }
    ul li.bold {
      color: #3C3C3C;
      font-weight: bold; }

.labels {
  display: grid;
  align-items: center;
  margin-bottom: 1rem;
  grid-template-columns: 200px auto;
  margin-bottom: 1rem; }
  .labels .label-wrapper {
    margin-right: 3rem; }
    .labels .label-wrapper .label {
      font-size: 18px;
      padding: .3rem 1.3rem;
      display: inline-block;
      color: white;
      border-radius: 2rem;
      text-align: center; }
      .labels .label-wrapper .label.teal {
        background-color: #2BE7CB; }
      .labels .label-wrapper .label.yellow {
        background-color: #FFCD14; }
      .labels .label-wrapper .label.tangerine {
        background-color: #FE7A7A; }
  .labels .description {
    font-size: 18px;
    white-space: nowrap; }

.cta-container {
  display: flex;
  justify-content: flex-start;
  margin-top: 1rem;
  margin-left: -.4rem; }

.btn {
  background-color: #3358ED;
  border-radius: 40px;
  color: white;
  cursor: hand;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  letter-spacing: .04rem;
  padding: 1rem 2rem;
  position: relative;
  text-decoration: none;
  transition: all .25s ease-in-out;
  white-space: nowrap; }
  .btn:hover {
    background: #1d3cda;
    box-shadow: -12px 10px 15px 0 rgba(0, 0, 0, 0.1); }

div.footer {
  display: flex;
  justify-content: center;
  padding: 3rem 0 2rem 0;
  width: 100%; }

.w-50 {
  width: 50%; }

.w-100 {
  width: 100%; }

.d-flex {
  display: flex; }

.flex-column {
  flex-direction: column; }

.justify-content-between {
  justify-content: space-between; }

.justify-content-center {
  justify-content: center; }

.align-items-center {
  align-items: center; }

.mb-0 {
  margin-bottom: 0rem; }

.mb-2 {
  margin-bottom: 2rem; }

.mt-0 {
  margin-top: 0rem; }

.mt-1 {
  margin-top: 1rem; }

.mt-2 {
  margin-top: 2rem; }

.mt-3 {
  margin-top: 3rem; }

.mt-5 {
  margin-top: 5rem; }

.blur {
  filter: blur(14px); }

@media (max-width: 960px) {
  nav {
    padding: 2rem;
    height: auto; }

  h1 {
    margin-top: 2rem; }

  div.footer {
    padding-top: 1rem; }

  .labels {
    margin-bottom: 1rem;
    grid-template-columns: 100vw; }
    .labels .label-wrapper {
      margin-bottom: 1rem; }
    .labels .description {
      font-size: 18px;
      line-height: 2rem;
      white-space: initial; } }
@media (max-width: 580px) {
  nav {
    padding: 2rem;
    height: auto; }

  .nav-item.btn {
    padding: .4rem .8rem; } }
/* --------------------------- SECTIONS --------------------------- */
#container section {
  align-items: center;
  display: flex;
  height: 60vh;
  justify-content: center; }
  #container section:first-of-type {
    margin-top: 5rem; }
  #container section ul {
    margin: .4rem 0 2rem 0; }
  #container section .w-50 {
    width: 50%; }
    #container section .w-50.left {
      padding: 6rem 0 6rem 6rem; }
      #container section .w-50.left.hero {
        border-top-right-radius: 6rem;
        border-bottom-right-radius: 6rem;
        margin-right: 3rem; }
    #container section .w-50.right {
      padding: 6rem 3rem; }
      #container section .w-50.right.hero {
        border-top-left-radius: 6rem;
        border-bottom-left-radius: 6rem;
        margin-left: 3rem; }
    #container section .w-50.hero {
      box-shadow: 0px 4px 11px rgba(0, 0, 0, 0.07);
      height: 100%;
      overflow: hidden;
      padding: 0;
      width: 50%; }
      #container section .w-50.hero .bg-img {
        display: block;
        height: 100%;
        width: 100%; }
      #container section .w-50.hero .bank {
        background: url("../hero/bank.png") no-repeat center center;
        background-size: cover; }
      #container section .w-50.hero .mimo {
        background: url("../hero/mimo.png") no-repeat center center;
        background-size: cover; }
      #container section .w-50.hero .nhs {
        background: url("../hero/nhs.png") no-repeat center center;
        background-size: cover; }
      #container section .w-50.hero .social {
        background: url("../hero/social.png") no-repeat center center;
        background-size: cover; }
      #container section .w-50.hero .storytelling {
        background: url("../hero/storytelling.png") no-repeat center center;
        background-size: cover; }

/* 3 --------------------------- PROJECT DETAILS --------------------------- */
#project-overlay-nav {
  display: none;
  height: 100vh;
  opacity: 0;
  position: relative;
  transform: scale(0.75);
  transition: all .25s ease-in-out;
  z-index: 500; }
  #project-overlay-nav.active {
    opacity: 1;
    transform: scale(1); }
  #project-overlay-nav .overlay-close {
    position: fixed;
    top: 2rem;
    right: 2rem; }
    #project-overlay-nav .overlay-close i {
      font-size: 2rem; }
  #project-overlay-nav .overlay-prev, #project-overlay-nav .overlay-next, #project-overlay-nav .overlay-close {
    background-color: white;
    border-radius: 6rem;
    box-shadow: 0px 4px 11px rgba(0, 0, 0, 0.07);
    padding: .4rem 1rem; }
  #project-overlay-nav .overlay-prev {
    position: fixed;
    left: 2rem;
    bottom: 2rem; }
  #project-overlay-nav .overlay-next {
    position: fixed;
    right: 4.6rem;
    bottom: 2rem; }

#project-overlay-wrapper {
  background-color: white;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  left: 0;
  height: 100vh;
  opacity: 0;
  overflow-y: scroll;
  overflow-x: hidden;
  position: fixed;
  top: 0;
  transform: scale(0.9) translateY(30vh);
  transition: all 0.65s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  width: 100%;
  z-index: 400; }
  #project-overlay-wrapper.active {
    opacity: 1;
    transform: scale(1) translateY(0); }
  #project-overlay-wrapper .project-overlay-container {
    width: 100%;
    padding: 3rem 6rem 8rem 6rem; }
    #project-overlay-wrapper .project-overlay-container .project-details {
      display: none; }
      #project-overlay-wrapper .project-overlay-container .project-details h1 {
        margin-top: 3rem; }
      #project-overlay-wrapper .project-overlay-container .project-details.active {
        display: block; }
      #project-overlay-wrapper .project-overlay-container .project-details.bank .w-50 {
        height: 80vh;
        padding-right: 6rem; }
        #project-overlay-wrapper .project-overlay-container .project-details.bank .w-50.hero {
          align-items: center;
          display: flex;
          flex-direction: column;
          justify-content: center;
          padding: 3rem; }
          #project-overlay-wrapper .project-overlay-container .project-details.bank .w-50.hero .bg-img {
            height: 100%; }
  #project-overlay-wrapper .showcase-body {
    padding-top: 3rem;
    position: relative; }
    #project-overlay-wrapper .showcase-body section {
      display: flex;
      align-items: center; }
      #project-overlay-wrapper .showcase-body section.odd-left:after, #project-overlay-wrapper .showcase-body section.odd-right:after {
        content: '';
        position: absolute;
        height: 100%;
        top: 0%;
        z-index: -1; }
      #project-overlay-wrapper .showcase-body section.odd-left {
        position: relative; }
        #project-overlay-wrapper .showcase-body section.odd-left:after {
          border-top-left-radius: 6rem;
          border-bottom-left-radius: 6rem;
          background-color: #F9FCFF;
          box-shadow: 0px 4px 11px rgba(0, 0, 0, 0.07);
          left: 0;
          right: -6rem; }
      #project-overlay-wrapper .showcase-body section.odd-right {
        position: relative; }
        #project-overlay-wrapper .showcase-body section.odd-right:after {
          border-top-right-radius: 6rem;
          border-bottom-right-radius: 6rem;
          background-color: #F9FCFF;
          box-shadow: 0px 4px 11px rgba(0, 0, 0, 0.07);
          left: -6rem;
          right: 0; }
      #project-overlay-wrapper .showcase-body section p {
        margin-bottom: 2rem; }
        #project-overlay-wrapper .showcase-body section p:last-of-type {
          margin-bottom: 0; }
      #project-overlay-wrapper .showcase-body section ul.w-icons li:before {
        content: '';
        position: absolute;
        display: block;
        width: 1rem;
        height: 1rem;
        left: -1rem;
        padding: .5rem 1.2rem 1rem; }
      #project-overlay-wrapper .showcase-body section ul.w-icons li.tiles:before {
        background: url("../icons/tiles.svg") no-repeat center;
        background-size: 2rem; }
      #project-overlay-wrapper .showcase-body section ul.w-icons li.view:before {
        background: url("../icons/view.svg") no-repeat center;
        background-size: 2rem; }
      #project-overlay-wrapper .showcase-body section ul.w-icons li.chart:before {
        background: url("../icons/chart.svg") no-repeat center;
        background-size: 2rem; }
      #project-overlay-wrapper .showcase-body section ul.w-icons li.heart:before {
        background: url("../icons/heart.svg") no-repeat center;
        background-size: 2rem; }
      #project-overlay-wrapper .showcase-body section ul.w-icons li.target:before {
        background: url("../icons/target.svg") no-repeat center;
        background-size: 2rem; }
      #project-overlay-wrapper .showcase-body section ul.w-icons li.user:before {
        background: url("../icons/user.svg") no-repeat center;
        background-size: 2rem; }
      #project-overlay-wrapper .showcase-body section .w-50.desc {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: flex-start; }
      #project-overlay-wrapper .showcase-body section .hero {
        overflow: visible;
        position: relative; }
        #project-overlay-wrapper .showcase-body section .hero .caption {
          background-color: white;
          border-radius: 2rem;
          border: 1px solid #F9FCFF;
          box-shadow: 0px 4px 11px rgba(0, 0, 0, 0.07);
          display: inline;
          font-size: 13px;
          padding: .5rem .6rem;
          text-align: center;
          white-space: nowrap; }
          #project-overlay-wrapper .showcase-body section .hero .caption.abs {
            text-align: left;
            bottom: 2rem;
            right: 1rem;
            position: absolute; }
          #project-overlay-wrapper .showcase-body section .hero .caption i {
            margin-top: .3rem;
            margin-left: .4rem; }
        #project-overlay-wrapper .showcase-body section .hero .bg-img {
          display: block;
          height: 60vh;
          position: relative;
          width: 100%; }
          #project-overlay-wrapper .showcase-body section .hero .bg-img.half {
            height: 50%; }
          #project-overlay-wrapper .showcase-body section .hero .bg-img.hierarchy {
            background: url("../bank/hierarchy.png") no-repeat center center;
            background-size: contain; }
          #project-overlay-wrapper .showcase-body section .hero .bg-img.user-oriented {
            background: url("../bank/user-oriented.mp4") no-repeat center center;
            background-size: contain;
            position: relative; }
          #project-overlay-wrapper .showcase-body section .hero .bg-img.responsive {
            background: url("../bank/responsive.png") no-repeat center center;
            background-size: contain; }
          #project-overlay-wrapper .showcase-body section .hero .bg-img.transparent {
            background: url("../bank/transparent.mp4") no-repeat center center;
            background-size: contain; }
          #project-overlay-wrapper .showcase-body section .hero .bg-img.engaging {
            background: url("../bank/engaging.png") no-repeat center center;
            background-size: contain; }
          #project-overlay-wrapper .showcase-body section .hero .bg-img.organised {
            background: url("../bank/organised.png") no-repeat center center;
            background-size: contain; }
          #project-overlay-wrapper .showcase-body section .hero .bg-img.social {
            background: url("../overlay/social.png") no-repeat center center;
            background-size: cover; }
          #project-overlay-wrapper .showcase-body section .hero .bg-img.nhs-1 {
            background: url("../overlay/nhs-1.png") no-repeat center center;
            background-size: contain;
            height: 90vh; }
          #project-overlay-wrapper .showcase-body section .hero .bg-img.nhs-2 {
            background: url("../overlay/nhs-2.png") no-repeat center center;
            background-size: contain; }
          #project-overlay-wrapper .showcase-body section .hero .bg-img.nhs-3 {
            background: url("../overlay/nhs-3.png") no-repeat center center;
            background-size: contain; }
          #project-overlay-wrapper .showcase-body section .hero .bg-img.nhs-1, #project-overlay-wrapper .showcase-body section .hero .bg-img.nhs-3 {
            position: relative; }
          #project-overlay-wrapper .showcase-body section .hero .bg-img.storytelling {
            background: url("../overlay/storytelling.svg") no-repeat center center;
            height: 100vh;
            background-size: contain; }

@media (max-width: 960px) {
  h1 {
    margin-top: 0; }

  #container section .w-50.hero, #container section .w-50, #container section .w-50.left, #container section .w-50.right, #project-overlay-wrapper .project-overlay-container {
    padding: 2rem;
    width: 100%;
    margin: 0;
    overflow: visible; }

  #container section, #project-overlay-wrapper .showcase-body section {
    height: auto;
    flex-direction: column; }
    #container section:nth-child(even), #project-overlay-wrapper .showcase-body section:nth-child(even) {
      flex-direction: column-reverse; }

  #container section .w-50.right.hero, #container section .w-50.left.hero {
    border-radius: 0;
    margin: 0; }

  #container section .w-50.hero .bg-img {
    height: 50vh; }

  #project-overlay-nav .overlay-close {
    top: 1rem; }

  #project-overlay-nav .overlay-prev, #project-overlay-nav .overlay-next, #contact {
    bottom: 1rem; }

  #project-overlay-wrapper .showcase-body section.odd-right:after, #project-overlay-wrapper .showcase-body section.odd-left:after {
    display: none; }

  #project-overlay-wrapper .project-overlay-container .project-details.bank .w-50 {
    padding: 1rem;
    width: 100%;
    height: auto; }
    #project-overlay-wrapper .project-overlay-container .project-details.bank .w-50.hero {
      height: 70vh; }

  #project-overlay-wrapper .project-overlay-container .project-details.bank .w-50.hero {
    padding-top: 0; }

  #project-overlay-wrapper .project-overlay-container .project-details.bank .w-50.hero .bg-img:hover {
    transform: scale(1);
    cursor: auto; }

  #project-overlay-wrapper .showcase-body section .hero .bg-img.half, #project-overlay-wrapper .showcase-body section .hero .w-50 {
    width: 100%; }

  #project-overlay-wrapper .showcase-body section .hero .bg-img.storytelling, #project-overlay-wrapper .showcase-body section .hero .bg-img.social {
    height: 35vh; }

  #project-overlay-wrapper .showcase-body section .hero .w-50 {
    flex-direction: column;
    height: 20rem; }

  .nhs-1, .nhs-2, .nhs-3 {
    height: 20rem;
    background-size: contain; } }
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  #project-overlay-wrapper .showcase-body section .hero .bg-img.user-oriented {
    background: url("../bank/user-oriented.gif") no-repeat center center;
    background-size: contain;
    position: relative; }

  #project-overlay-wrapper .showcase-body section .hero .bg-img.transparent {
    background: url("../bank/transparent.gif") no-repeat center center;
    background-size: contain;
    position: relative; } }

/*# sourceMappingURL=index.css.map */
